In [19]:
library(zoo)
library(data.table)
library(lubridate)
library(forecast)

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Attaching package: ‘lubridate’

The following objects are masked from ‘package:data.table’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year

The following object is masked from ‘package:base’:

    date

In [20]:
# install.packages('forecast')

In [21]:
print(version)

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          3
minor          4.1
year           2017
month          06
day            30
svn rev        72865
language       R
version.string R version 3.4.1 (2017-06-30)
nickname       Single Candle

In [22]:
print(R.home())

[1] "/home/watts/anaconda3/envs/aind-dog/lib/R"

In [19]:
train_data <- as.data.table(read.csv("../cache/transactions/tr_25_20160101.csv"))

In [53]:
test_data <- as.data.table(read.csv("../cache/transactions/te_25_20160101.csv"))

In [20]:
train_data$date <- ymd(train_data$date)

In [21]:
head(train_data)

  date       store_nbr transactions
1 2013-01-01 25         770
2 2013-01-02 25        1038
3 2013-01-03 25         887
4 2013-01-04 25        1054
5 2013-01-05 25        1355
6 2013-01-06 25         716

In [23]:
tail(train_data)

  date       store_nbr transactions
1 2015-12-26 25        1889
2 2015-12-27 25        1384
3 2015-12-28 25        1546
4 2015-12-29 25        1887
5 2015-12-30 25        2489
6 2015-12-31 25        3178

In [22]:
train_data$date <- as.Date(train_data$date)

In [27]:
date <- as.Date(seq(as.Date("2013-01-01"), as.Date("2015-12-31"), by="days"))

In [28]:
new_train <- as.data.frame(date)

In [29]:
head(new_train)

  date
1 2013-01-01
2 2013-01-02
3 2013-01-03
4 2013-01-04
5 2013-01-05
6 2013-01-06

In [30]:
new_train <- merge(new_train,train_data,by="date",all.x=T)

In [32]:
table(is.na(new_train))

FALSE  TRUE
 3277     8

In [33]:
new_train[is.na(new_train)] <- 0

In [34]:
head(new_train)

  date       store_nbr transactions
1 2013-01-01 25         770
2 2013-01-02 25        1038
3 2013-01-03 25         887
4 2013-01-04 25        1054
5 2013-01-05 25        1355
6 2013-01-06 25         716

In [35]:
x.ts = ts(new_train$transactions, freq=365, start=c(2013))

In [37]:
hw1 <- HoltWinters(x.ts,seasonal = "additive",beta = FALSE)

In [55]:
head(test_data)

  date       transactions
1 2016-01-01 0

In [56]:
nrow(test_data)

[1] 1

In [57]:
nrow(new_train)

[1] 1095

In [64]:
test_data$transactions <- predict(hw1,n.ahead = 1)

In [65]:
table(is.na(test_data))

FALSE
    2

In [66]:
nrow(test_data)

[1] 1

In [67]:
head(test_data)

  date       transactions
1 2016-01-01 1776.064

In [70]:
test_data$transactions = as.integer(test_data$transactions)

In [105]:
pred = test_data$transactions

In [106]:
pred

[1] 1776

In [71]:
head(test_data)

  date       transactions
1 2016-01-01 1776

In [97]:
trans = data.frame()

In [98]:
trans1 = data.frame('2016-01-03', 52, 0)

In [99]:
trans = rbind(trans, trans1)

In [100]:
names(trans) = c('date', 'store_nbr', 'transactions')

In [103]:
trans

In [140]:
trans = data.frame()

In [72]:
write.csv(test_data,file ="../cache/transactions_25_20160101.csv",row.names = FALSE)

In [122]:
paste('../cache/transactions/tr_',toString(10),'_20160103.csv', sep='')

[1] "../cache/transactions/tr_10_20160103.csv"

In [141]:
for (i in 1:54) {
    if (i == 52) {
        next
    }
    fn_tr = paste('../cache/transactions/tr_',toString(i),'_20160103.csv', sep='')
    fn_te = paste('../cache/transactions/te_',toString(i),'_20160103.csv', sep='')
    
    train_data <- as.data.table(read.csv(fn_tr))
    test_data <- as.data.table(read.csv(fn_te))
    train_data$date <- ymd(train_data$date)
    train_data$date <- as.Date(train_data$date)
    date <- as.Date(seq(as.Date("2013-01-01"), as.Date("2016-01-02"), by="days"))
    new_train <- as.data.frame(date)
    new_train <- merge(new_train,train_data,by="date",all.x=T)
    new_train[is.na(new_train)] <- 0
    x.ts = ts(new_train$transactions, freq=365, start=c(2013))
    hw1 <- HoltWinters(x.ts,seasonal = "additive",beta = FALSE)
    test_data$transactions <- predict(hw1,n.ahead = 1)
    test_data$transactions = as.integer(test_data$transactions)
    pred  = test_data$transactions
    new_test = data.frame('2016-01-03', i, pred)
    trans = rbind(trans, new_test)
}

Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”

In [142]:
head(trans)

  X.2016.01.03. i pred
1 2016-01-03    1 1216
2 2016-01-03    2 1841
3 2016-01-03    3 3378
4 2016-01-03    4 1538
5 2016-01-03    5 1374
6 2016-01-03    6 2005

In [143]:
names(trans) = c('date', 'store_nbr', 'transactions')

In [144]:
tail(trans)

   date       store_nbr transactions
48 2016-01-03 48        4206
49 2016-01-03 49        3294
50 2016-01-03 50        3373
51 2016-01-03 51        1509
52 2016-01-03 53        1183
53 2016-01-03 54         900

In [145]:
head(trans)

  date       store_nbr transactions
1 2016-01-03 1         1216
2 2016-01-03 2         1841
3 2016-01-03 3         3378
4 2016-01-03 4         1538
5 2016-01-03 5         1374
6 2016-01-03 6         2005

In [146]:
table(is.na(trans))

FALSE
  159

In [147]:
write.csv(trans,file ="../cache/transactions_20160103.csv",row.names = FALSE)

In [ ]:
# now other missing data

In [23]:
l = c('2013-06-19_10',
 '2013-06-19_35',
 '2013-06-19_43',
 '2013-06-19_54',
 '2014-01-02_32',
 '2014-03-24_25',
 '2016-01-02_1',
 '2016-01-02_10',
 '2016-01-02_11',
 '2016-01-02_12',
 '2016-01-02_13',
 '2016-01-02_14',
 '2016-01-02_15',
 '2016-01-02_17',
 '2016-01-02_18',
 '2016-01-02_19',
 '2016-01-02_3',
 '2016-01-02_4',
 '2016-01-02_5',
 '2016-01-02_6',
 '2016-01-02_7',
 '2016-01-02_8',
 '2016-01-02_9',
 '2016-01-04_10',
 '2016-01-04_11',
 '2016-01-04_12',
 '2016-01-04_13',
 '2016-01-04_14',
 '2016-01-04_15',
 '2016-01-04_16',
 '2016-01-04_17',
 '2016-01-04_18',
 '2016-01-04_19',
 '2016-01-04_2',
 '2016-01-04_20',
 '2016-01-04_21',
 '2016-01-04_22',
 '2016-01-04_27',
 '2016-01-04_28',
 '2016-01-04_29',
 '2016-01-04_3',
 '2016-01-04_35',
 '2016-01-04_36',
 '2016-01-04_4',
 '2016-01-04_40',
 '2016-01-04_41',
 '2016-01-04_42',
 '2016-01-04_43',
 '2016-01-04_44',
 '2016-01-04_45',
 '2016-01-04_46',
 '2016-01-04_47',
 '2016-01-04_48',
 '2016-01-04_49',
 '2016-01-04_50',
 '2016-01-04_51',
 '2016-01-04_53',
 '2016-01-04_54',
 '2016-01-04_6',
 '2016-01-04_7',
 '2016-01-04_8',
 '2016-01-04_9',
 '2016-09-27_23',
 '2016-09-27_7')

In [46]:
length(l)

[1] 64

In [24]:
date_and_store= strsplit('2016-09-27_7', '_')[[1]]

In [25]:
date_and_store[2]

[1] "7"

In [26]:
date <- date_and_store[1]
date <- as.Date(date) -1
print(date)

[1] "2016-09-26"

In [27]:
date <- date_and_store[1]
date <- gsub('-','',date)
i <- date_and_store[2]
paste('../cache/transactions/tr_',toString(i),'_', toString(date), '.csv', sep='')

[1] "../cache/transactions/tr_7_20160927.csv"

In [33]:
trans = data.frame()

In [43]:
for (el in l) {
    print(el)
    date_and_store = strsplit(el, '_')[[1]]
    date1 <- date_and_store[1]
    date2 <- gsub('-','',date1)
    i <- date_and_store[2]
    fn_tr = paste('../cache/transactions/tr_',toString(i),'_', toString(date2), '.csv', sep='')
    fn_te = paste('../cache/transactions/te_',toString(i),'_', toString(date2), '.csv', sep='')
    print(fn_tr)
    train_data <- as.data.table(read.csv(fn_tr))
    print(nrow(train_data))
    test_data <- as.data.table(read.csv(fn_te))
    train_data$date <- ymd(train_data$date)
    train_data$date <- as.Date(train_data$date)
    date <- as.Date(seq(as.Date("2013-01-01"), as.Date(date1)-1, by="days"))
    new_train <- as.data.frame(date)
    new_train <- merge(new_train,train_data,by="date",all.x=T)
    new_train[is.na(new_train)] <- 0
    x.ts = ts(new_train$transactions, freq=30, start=c(2013))
    hw1 <- HoltWinters(x.ts,seasonal = "additive",beta = FALSE)
    test_data$transactions <- predict(hw1,n.ahead = 1)
    test_data$transactions = as.integer(test_data$transactions)
    pred  = test_data$transactions
    new_test = data.frame(date1, i, pred)
    trans = rbind(trans, new_test)
}

[1] "2013-06-19_10"
[1] "../cache/transactions/tr_10_20130619.csv"
[1] 168
[1] "2013-06-19_35"
[1] "../cache/transactions/tr_35_20130619.csv"
[1] 168
[1] "2013-06-19_43"
[1] "../cache/transactions/tr_43_20130619.csv"
[1] 168
[1] "2013-06-19_54"
[1] "../cache/transactions/tr_54_20130619.csv"
[1] 168
[1] "2014-01-02_32"
[1] "../cache/transactions/tr_32_20140102.csv"
[1] 363
[1] "2014-03-24_25"
[1] "../cache/transactions/tr_25_20140324.csv"
[1] 446
[1] "2016-01-02_1"
[1] "../cache/transactions/tr_1_20160102.csv"
[1] 1088
[1] "2016-01-02_10"
[1] "../cache/transactions/tr_10_20160102.csv"
[1] 1088
[1] "2016-01-02_11"
[1] "../cache/transactions/tr_11_20160102.csv"
[1] 1089
[1] "2016-01-02_12"
[1] "../cache/transactions/tr_12_20160102.csv"
[1] 1029
[1] "2016-01-02_13"
[1] "../cache/transactions/tr_13_20160102.csv"
[1] 1089
[1] "2016-01-02_14"
[1] "../cache/transactions/tr_14_20160102.csv"
[1] 1051
[1] "2016-01-02_15"
[1] "../cache/transactions/tr_15_20160102.csv"
[1] 1089
[1] "2016-01-02_17"
[1] "../cache/transactions/tr_17_20160102.csv"
[1] 1089
[1] "2016-01-02_18"
[1] "../cache/transactions/tr_18_20160102.csv"
[1] 1089
[1] "2016-01-02_19"
[1] "../cache/transactions/tr_19_20160102.csv"
[1] 1089
[1] "2016-01-02_3"
[1] "../cache/transactions/tr_3_20160102.csv"
[1] 1089
[1] "2016-01-02_4"
[1] "../cache/transactions/tr_4_20160102.csv"
[1] 1089
[1] "2016-01-02_5"
[1] "../cache/transactions/tr_5_20160102.csv"
[1] 1089

Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”

[1] "2016-01-02_6"
[1] "../cache/transactions/tr_6_20160102.csv"
[1] 1089
[1] "2016-01-02_7"
[1] "../cache/transactions/tr_7_20160102.csv"
[1] 1089
[1] "2016-01-02_8"
[1] "../cache/transactions/tr_8_20160102.csv"
[1] 1089
[1] "2016-01-02_9"
[1] "../cache/transactions/tr_9_20160102.csv"
[1] 1089
[1] "2016-01-04_10"
[1] "../cache/transactions/tr_10_20160104.csv"
[1] 1088
[1] "2016-01-04_11"
[1] "../cache/transactions/tr_11_20160104.csv"
[1] 1089

Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”

[1] "2016-01-04_12"
[1] "../cache/transactions/tr_12_20160104.csv"
[1] 1029
[1] "2016-01-04_13"
[1] "../cache/transactions/tr_13_20160104.csv"
[1] 1089
[1] "2016-01-04_14"
[1] "../cache/transactions/tr_14_20160104.csv"
[1] 1051
[1] "2016-01-04_15"
[1] "../cache/transactions/tr_15_20160104.csv"
[1] 1089
[1] "2016-01-04_16"
[1] "../cache/transactions/tr_16_20160104.csv"
[1] 1090
[1] "2016-01-04_17"
[1] "../cache/transactions/tr_17_20160104.csv"
[1] 1089
[1] "2016-01-04_18"
[1] "../cache/transactions/tr_18_20160104.csv"
[1] 1089
[1] "2016-01-04_19"
[1] "../cache/transactions/tr_19_20160104.csv"
[1] 1089

Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”

[1] "2016-01-04_2"
[1] "../cache/transactions/tr_2_20160104.csv"
[1] 1090
[1] "2016-01-04_20"
[1] "../cache/transactions/tr_20_20160104.csv"
[1] 322
[1] "2016-01-04_21"
[1] "../cache/transactions/tr_21_20160104.csv"
[1] 161
[1] "2016-01-04_22"
[1] "../cache/transactions/tr_22_20160104.csv"
[1] 84
[1] "2016-01-04_27"
[1] "../cache/transactions/tr_27_20160104.csv"
[1] 1090
[1] "2016-01-04_28"
[1] "../cache/transactions/tr_28_20160104.csv"
[1] 1090
[1] "2016-01-04_29"
[1] "../cache/transactions/tr_29_20160104.csv"
[1] 287
[1] "2016-01-04_3"
[1] "../cache/transactions/tr_3_20160104.csv"
[1] 1089
[1] "2016-01-04_35"
[1] "../cache/transactions/tr_35_20160104.csv"
[1] 1089
[1] "2016-01-04_36"
[1] "../cache/transactions/tr_36_20160104.csv"
[1] 964
[1] "2016-01-04_4"
[1] "../cache/transactions/tr_4_20160104.csv"
[1] 1089
[1] "2016-01-04_40"
[1] "../cache/transactions/tr_40_20160104.csv"
[1] 1090
[1] "2016-01-04_41"
[1] "../cache/transactions/tr_41_20160104.csv"
[1] 1090
[1] "2016-01-04_42"
[1] "../cache/transactions/tr_42_20160104.csv"
[1] 133
[1] "2016-01-04_43"
[1] "../cache/transactions/tr_43_20160104.csv"
[1] 1089
[1] "2016-01-04_44"
[1] "../cache/transactions/tr_44_20160104.csv"
[1] 1090
[1] "2016-01-04_45"
[1] "../cache/transactions/tr_45_20160104.csv"
[1] 1090
[1] "2016-01-04_46"
[1] "../cache/transactions/tr_46_20160104.csv"
[1] 1090
[1] "2016-01-04_47"
[1] "../cache/transactions/tr_47_20160104.csv"
[1] 1090
[1] "2016-01-04_48"
[1] "../cache/transactions/tr_48_20160104.csv"
[1] 1090
[1] "2016-01-04_49"
[1] "../cache/transactions/tr_49_20160104.csv"
[1] 1090
[1] "2016-01-04_50"
[1] "../cache/transactions/tr_50_20160104.csv"
[1] 1090
[1] "2016-01-04_51"
[1] "../cache/transactions/tr_51_20160104.csv"
[1] 1090
[1] "2016-01-04_53"
[1] "../cache/transactions/tr_53_20160104.csv"
[1] 580
[1] "2016-01-04_54"
[1] "../cache/transactions/tr_54_20160104.csv"
[1] 1089
[1] "2016-01-04_6"
[1] "../cache/transactions/tr_6_20160104.csv"
[1] 1089
[1] "2016-01-04_7"
[1] "../cache/transactions/tr_7_20160104.csv"
[1] 1089
[1] "2016-01-04_8"
[1] "../cache/transactions/tr_8_20160104.csv"
[1] 1089
[1] "2016-01-04_9"
[1] "../cache/transactions/tr_9_20160104.csv"
[1] 1089
[1] "2016-09-27_23"
[1] "../cache/transactions/tr_23_20160927.csv"
[1] 1357
[1] "2016-09-27_7"
[1] "../cache/transactions/tr_7_20160927.csv"
[1] 1355

In [44]:
nrow(trans)

[1] 64

In [48]:
names(trans) = c('date', 'store_nbr', 'transactions')

In [49]:
write.csv(trans,file ="../cache/transactions_missing.csv",row.names = FALSE)

In [ ]:
# now for test data

In [164]:
trans = data.frame()

In [165]:
for (i in 1:54) {
    
    fn_tr = paste('../cache/transactions/tr_all_',toString(i),'.csv', sep='')
    fn_te = paste('../cache/transactions/te_all_',toString(i),'.csv', sep='')
    
    train_data <- as.data.table(read.csv(fn_tr))
    test_data <- as.data.table(read.csv(fn_te))
    train_data$date <- ymd(train_data$date)
    train_data$date <- as.Date(train_data$date)
    date <- as.Date(seq(as.Date("2013-01-01"), as.Date("2017-08-15"), by="days"))
    new_train <- as.data.frame(date)
    new_train <- merge(new_train,train_data,by="date",all.x=T)
    new_train[is.na(new_train)] <- 0
    x.ts = ts(new_train$transactions, freq=365, start=c(2013))
    hw1 <- HoltWinters(x.ts,seasonal = "additive",beta = FALSE)
    test_data$transactions <- predict(hw1,n.ahead = 16)
    test_data$transactions = as.integer(test_data$transactions)
    
    test_data$store_nbr = toString(i)
    trans = rbind(trans, as.data.frame(test_data))
}

Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”Warning message in HoltWinters(x.ts, seasonal = "additive", beta = FALSE):
“optimization difficulties: ERROR: ABNORMAL_TERMINATION_IN_LNSRCH”

In [169]:
names(trans) = c('date', 'transactions', 'store_nbr')

In [170]:
nrow(trans)

[1] 864

In [171]:
head(trans)

  date       transactions store_nbr
1 2017-08-16 1538         1
2 2017-08-17 1745         1
3 2017-08-18 1653         1
4 2017-08-19 1687         1
5 2017-08-20 1397         1
6 2017-08-21  804         1

In [172]:
16 * 54

[1] 864

In [173]:
write.csv(trans,file ="../cache/test_transactions.csv",row.names = FALSE)