In [2]:
import argparse, csv, sys, collections
import os
from tqdm import tqdm
import feather
import pandas as pd
from joblib import Parallel, delayed
import numpy as np

In [2]:
# from https://github.com/alexeygrigorev/outbrain-click-prediction-kaggle/blob/master/1_svm_data.py
def append_to_csv(batch, csv_file):
    props = dict(encoding='utf-8', index=False)
    if not os.path.exists(csv_file):
        batch.to_csv(csv_file, **props)
    else:
        batch.to_csv(csv_file, mode='a', header=False, **props)

def delete_file_if_exists(filename):
    if os.path.exists(filename):
        os.remove(filename)

def chunk_dataframe(df, n):
    for i in range(0, len(df), n):
        yield df.iloc[i:i+n]

In [3]:
def prepare_batch(batch):
    batch = batch.reset_index(drop=1)
    
    return batch

In [4]:
df_train  = feather.read_dataframe('../cache/train10_t.feather')

In [8]:
df_train.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,city,...,mon,dow,doy,dcount,type,description,pd,wbe,wae,wfe
0,0,2013-01-01,25,103665,7.0,Unk,BREAD/BAKERY,2712,1,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
1,1,2013-01-01,25,105574,1.0,Unk,GROCERY I,1045,0,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
2,2,2013-01-01,25,105575,2.0,Unk,GROCERY I,1045,0,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
3,3,2013-01-01,25,108079,1.0,Unk,GROCERY I,1030,0,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
4,4,2013-01-01,25,108701,1.0,Unk,DELI,2644,1,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172

In [9]:
df_train.shape

(125497040, 26)

In [10]:
df_train.columns

Index(['id', 'date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion',
       'family', 'class', 'perishable', 'city', 'state', 'store_type',
       'cluster', 'dcoilwtico', 'transactions', 'dom', 'mon', 'dow', 'doy',
       'dcount', 'type', 'description', 'pd', 'wbe', 'wae', 'wfe'],
      dtype='object')

In [11]:
df_train = df_train.rename(columns = {'family':'item_family', 'class': 'item_class', 'type': 'h_type', 
                                      'description': 'h_desc'})

In [12]:
df_train.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,...,mon,dow,doy,dcount,h_type,h_desc,pd,wbe,wae,wfe
0,0,2013-01-01,25,103665,7.0,Unk,BREAD/BAKERY,2712,1,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
1,1,2013-01-01,25,105574,1.0,Unk,GROCERY I,1045,0,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
2,2,2013-01-01,25,105575,2.0,Unk,GROCERY I,1045,0,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
3,3,2013-01-01,25,108079,1.0,Unk,GROCERY I,1030,0,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172
4,4,2013-01-01,25,108701,1.0,Unk,DELI,2644,1,Salinas,...,1,1,1,734869,Holiday,Primer dia del ano,0,172,0,172

In [13]:
df_train.columns

Index(['id', 'date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion',
       'item_family', 'item_class', 'perishable', 'city', 'state',
       'store_type', 'cluster', 'dcoilwtico', 'transactions', 'dom', 'mon',
       'dow', 'doy', 'dcount', 'h_type', 'h_desc', 'pd', 'wbe', 'wae', 'wfe'],
      dtype='object')

In [14]:
df_train['store_item_nbr'] = df_train['store_nbr'].astype('str') + '_' + df_train['item_nbr'].astype('str')

,id,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,state,...,dow,doy,dcount,h_type,h_desc,pd,wbe,wae,wfe,store_item_nbr
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,25,103665,7.0,Unk,BREAD/BAKERY,2712,1,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_103665
2013-01-01,1,25,105574,1.0,Unk,GROCERY I,1045,0,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_105574
2013-01-01,2,25,105575,2.0,Unk,GROCERY I,1045,0,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_105575
2013-01-01,3,25,108079,1.0,Unk,GROCERY I,1030,0,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_108079
2013-01-01,4,25,108701,1.0,Unk,DELI,2644,1,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_108701

In [18]:
delete_file_if_exists('../cache/train10_t.csv')

for batch in tqdm(chunk_dataframe(df_train, n=1000000)):
    batch = prepare_batch(batch)
    append_to_csv(batch, '../cache/train10_t.csv')

126it [32:17, 15.38s/it]

In [19]:
f_cats = ['store_item_nbr', 'onpromotion', 'item_family', 'item_class', 'city', 'state', 'store_type', 
          'cluster', 'dom', 'dow', 'h_type', 'pd']

In [ ]:
counts = collections.defaultdict(lambda : [0, 0, 0])

In [31]:


def count_values_in_row(csv_path):
    for i, row in tqdm(enumerate(csv.DictReader(open(csv_path)), start=2)):
        label = float(row['unit_sales'])
        for j in f_cats:
            field = j
            value = row[field]
            if label <= 0.:
                counts[field+','+value][0] += 1
            else:
                counts[field+','+value][1] += 1
            counts[field+','+value][2] += 1
        if i % 1000000 == 0:
            sys.stderr.write('{0}m\n'.format(int(i/1000000)))

def count_test_values_in_row(csv_path):
    for i, row in tqdm(enumerate(csv.DictReader(open(csv_path)), start=2)):
#         label = float(row['unit_sales'])
        for j in f_cats:
            field = j
            value = row[field]
            counts[field+','+value][0] += 1
            counts[field+','+value][1] += 1
            counts[field+','+value][2] += 1
        if i % 1000000 == 0:
            sys.stderr.write('{0}m\n'.format(int(i/1000000)))
            
def print_results(dest_csv):
    fp = open(dest_csv, 'w')
    fp.write('Field,Value,Neg,Pos,Total,Ratio\n')
    for key, (neg, pos, total) in sorted(counts.items(), key=lambda x: x[1][2]):
        if total < 10:
            continue
        ratio = round(float(pos)/total, 5)
        counts_str = key+','+str(neg)+','+str(pos)+','+str(total)+','+str(ratio) + '\n'
        fp.write(counts_str)
    fp.close()

In [21]:
count_values_in_row('../cache/train10_t.csv')

999371it [00:20, 49280.87it/s]1m
1996026it [00:39, 50569.73it/s]2m
2995158it [00:59, 50420.09it/s]3m
3999234it [01:18, 50878.18it/s]4m
4996776it [01:37, 51082.62it/s]5m
5998459it [01:57, 51001.47it/s]6m
6994048it [02:16, 51204.91it/s]7m
7997855it [02:35, 51328.64it/s]8m
8994586it [02:54, 51449.76it/s]9m
9995279it [03:14, 51381.30it/s]10m
10994861it [03:34, 51320.29it/s]11m
11996048it [03:53, 51270.47it/s]12m
12999811it [04:13, 51297.49it/s]13m
13997856it [04:32, 51333.13it/s]14m
14997433it [04:51, 51463.81it/s]15m
15997544it [05:10, 51563.16it/s]16m
16999925it [05:29, 51559.38it/s]17m
17997829it [05:48, 51583.41it/s]18m
18999476it [06:08, 51588.21it/s]19m
19995094it [06:27, 51606.99it/s]20m
20996557it [06:46, 51696.46it/s]21m
21995853it [07:05, 51686.53it/s]22m
22998594it [07:24, 51797.95it/s]23m
23996092it [07:42, 51901.19it/s]24m
24996637it [08:00, 52011.17it/s]25m
25997354it [08:19, 51999.66it/s]26m
26998092it [08:39, 51994.36it/s]27m
27998465it [08:58, 52013.15it/s]28m
28999853it [09:16, 52071.37it/s]29m
29996493it [09:35, 52153.84it/s]30m
30997418it [09:53, 52228.98it/s]31m
31994864it [10:12, 52260.99it/s]32m
32998428it [10:30, 52332.99it/s]33m
33994613it [10:49, 52345.98it/s]34m
34994665it [11:08, 52361.88it/s]35m
35997266it [11:27, 52393.12it/s]36m
36999859it [11:46, 52394.71it/s]37m
37995099it [12:04, 52429.63it/s]38m
38996350it [12:23, 52449.36it/s]39m
39997985it [12:41, 52509.32it/s]40m
40996578it [13:00, 52542.73it/s]41m
41995034it [13:19, 52556.82it/s]42m
42997168it [13:37, 52603.54it/s]43m
43997875it [13:55, 52634.56it/s]44m
44999928it [14:14, 52676.41it/s]45m
45996587it [14:32, 52704.05it/s]46m
46999248it [14:51, 52730.52it/s]47m
47999662it [15:09, 52759.10it/s]48m
48995217it [15:28, 52785.42it/s]49m
49995012it [15:46, 52798.66it/s]50m
50994538it [16:05, 52821.25it/s]51m
51995556it [16:23, 52853.98it/s]52m
52998852it [16:42, 52875.88it/s]53m
53994931it [17:01, 52873.69it/s]54m
54998228it [17:19, 52889.75it/s]55m
55998317it [17:38, 52879.70it/s]56m
56997246it [17:57, 52896.21it/s]57m
57995756it [18:16, 52912.36it/s]58m
58998847it [18:35, 52904.64it/s]59m
59995378it [18:53, 52910.02it/s]60m
60996620it [19:12, 52925.82it/s]61m
61998577it [19:31, 52938.69it/s]62m
62998862it [19:49, 52958.10it/s]63m
63994550it [20:08, 52939.19it/s]64m
64997668it [20:27, 52950.27it/s]65m
65998456it [20:46, 52951.64it/s]66m
66995763it [21:05, 52955.51it/s]67m
67996350it [21:24, 52933.87it/s]68m
68999051it [21:44, 52900.28it/s]69m
69998460it [22:03, 52886.93it/s]70m
70999880it [22:23, 52863.99it/s]71m
71996933it [22:41, 52869.22it/s]72m
72995550it [23:00, 52893.58it/s]73m
73999267it [23:18, 52918.24it/s]74m
74994410it [23:36, 52940.54it/s]75m
75997127it [23:55, 52949.61it/s]76m
76997947it [24:14, 52944.27it/s]77m
77999329it [24:33, 52944.69it/s]78m
78998895it [24:51, 52958.01it/s]79m
79995431it [25:10, 52960.15it/s]80m
80998614it [25:29, 52970.54it/s]81m
81999050it [25:47, 52992.89it/s]82m
82997152it [26:05, 53012.59it/s]83m
83999672it [26:24, 53026.67it/s]84m
84998868it [26:43, 53007.90it/s]85m
85997603it [27:02, 53016.38it/s]86m
86998646it [27:20, 53022.65it/s]87m
87997612it [27:39, 53024.94it/s]88m
88997089it [27:58, 53024.78it/s]89m
89995154it [28:16, 53033.08it/s]90m
90998482it [28:35, 53043.44it/s]91m
91997566it [28:54, 53051.81it/s]92m
92996512it [29:12, 53050.13it/s]93m
93998515it [29:31, 53062.55it/s]94m
94996580it [29:50, 53066.35it/s]95m
95999416it [30:08, 53073.25it/s]96m
96995137it [30:27, 53084.81it/s]97m
97996333it [30:45, 53097.78it/s]98m
98995868it [31:04, 53107.87it/s]99m
99999082it [31:22, 53117.89it/s]100m
100996209it [31:40, 53129.34it/s]101m
101994794it [31:59, 53143.26it/s]102m
102996524it [32:17, 53155.34it/s]103m
103999042it [32:36, 53166.62it/s]104m
104998607it [32:54, 53179.25it/s]105m
105994866it [33:12, 53192.52it/s]106m
106997689it [33:31, 53203.68it/s]107m
107999011it [33:49, 53204.21it/s]108m
108999667it [34:08, 53213.81it/s]109m
109996982it [34:26, 53221.50it/s]110m
110997072it [34:45, 53230.73it/s]111m
111996800it [35:04, 53228.87it/s]112m
112995035it [35:23, 53223.02it/s]113m
113998304it [35:43, 53195.19it/s]114m
114996147it [36:01, 53192.92it/s]115m
115996567it [36:20, 53202.51it/s]116m
116995784it [36:38, 53210.61it/s]117m
117996788it [36:58, 53180.05it/s]118m
118998677it [37:17, 53176.01it/s]119m
119999194it [37:36, 53179.13it/s]120m
120999554it [37:55, 53167.47it/s]121m
121999434it [38:14, 53161.94it/s]122m
122994651it [38:33, 53157.98it/s]123m
123997339it [38:52, 53150.08it/s]124m
124996840it [39:11, 53158.27it/s]125m
125497040it [39:20, 53162.54it/s]

In [23]:
print_results('../cache/counts_train10_t.csv')

In [3]:
df_test  = feather.read_dataframe('../cache/test7_t.feather')

In [13]:
df_test = df_test.rename(columns = {'family':'item_family', 'class': 'item_class', 'type': 'h_type', 
                                      'description': 'h_desc'})

In [14]:
df_test['store_item_nbr'] = df_test['store_nbr'].astype('str') + '_' + df_test['item_nbr'].astype('str')

In [35]:
delete_file_if_exists('../cache/test7_t.csv')

for batch in tqdm(chunk_dataframe(df_test, n=1000000)):
    batch = prepare_batch(batch)
    append_to_csv(batch, '../cache/test7_t.csv')

4it [00:49, 12.27s/it]

In [36]:
counts = collections.defaultdict(lambda : [0, 0, 0])

In [37]:
count_test_values_in_row('../cache/test7_t.csv')

998410it [00:23, 41832.78it/s]1m
1996759it [00:45, 44037.44it/s]2m
2996361it [01:06, 45201.35it/s]3m
3370464it [01:14, 45236.00it/s]

In [38]:
print_results('../cache/counts_test7_t.csv')

In [15]:
df = pd.read_csv('../cache/counts_train10_t.csv')

In [16]:
df.head()

            Field       Value  Neg  Pos  Total  Ratio
0  store_item_nbr  41_2061033    0   10     10    1.0
1  store_item_nbr  39_1463887    0   10     10    1.0
2  store_item_nbr  33_1950263    0   10     10    1.0
3  store_item_nbr   4_2036465    0   10     10    1.0
4  store_item_nbr  35_1463859    0   10     10    1.0

In [17]:
df.shape

(171613, 6)

In [18]:
df1 = df[df.Total >= 12000000]

In [19]:
df1.shape

(26, 6)

In [20]:
df1

              Field      Value   Neg        Pos      Total    Ratio
171587      cluster         10   562   12232875   12233437  0.99995
171588      cluster         14   706   13239680   13240386  0.99995
171589      cluster          6   526   13318408   13318934  0.99996
171590         city  Guayaquil  1021   16709655   16710676  0.99994
171591  item_family   CLEANING  1026   17014574   17015600  0.99994
171592          dow          3  1412   17112396   17113808  0.99992
171593          dow          4  1149   17507133   17508282  0.99993
171594          dow          2  1198   17520082   17521280  0.99993
171595  item_family  BEVERAGES  1361   17566027   17567388  0.99992
171596          dow          1  1327   17663995   17665322  0.99992
171597   store_type          B  1105   17876235   17877340  0.99994
171598          dow          0  1243   17900433   17901676  0.99993
171599          dow          6   718   18689497   18690215  0.99996
171600          dow          5   748   19095709   19096457  0.99996
171601  onpromotion        Unk  1307   21656344   21657651  0.99994
171602        state     Guayas  1322   22940334   22941656  0.99994
171603   store_type          C   921   25907916   25908837  0.99996
171604   store_type          A  2015   26828847   26830862  0.99992
171605       h_type    Weekend  1277   34326279   34327556  0.99996
171606  item_family  GROCERY I  2160   45625905   45628065  0.99995
171607   store_type          D  3368   46798002   46801370  0.99993
171608         city      Quito  4263   51978378   51982641  0.99992
171609        state  Pichincha  4347   54546576   54550923  0.99992
171610       h_type   Work Day  5830   80357259   80363089  0.99993
171611  onpromotion      False  6480   96022287   96028767  0.99993
171612           pd          0  7276  117120302  117127578  0.99994

In [48]:
df1.to_csv('../cache/counts_dense_train10_t.csv')

In [21]:
df_train['dense_count'] = 0

In [36]:
df_train = df_train.drop('dense_count', axis=1)

In [ ]:
df_train = df_train.set_index('date')

In [17]:
df_train.head()

,id,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,state,...,dow,doy,dcount,h_type,h_desc,pd,wbe,wae,wfe,store_item_nbr
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0,25,103665,7.0,Unk,BREAD/BAKERY,2712,1,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_103665
2013-01-01,1,25,105574,1.0,Unk,GROCERY I,1045,0,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_105574
2013-01-01,2,25,105575,2.0,Unk,GROCERY I,1045,0,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_105575
2013-01-01,3,25,108079,1.0,Unk,GROCERY I,1030,0,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_108079
2013-01-01,4,25,108701,1.0,Unk,DELI,2644,1,Salinas,Santa Elena,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_108701

In [18]:
df_train.shape

(125497040, 26)

In [19]:
df_train = df_train.reset_index()

In [20]:
df_train.shape

(125497040, 27)

In [21]:
df_train.head()

,date,id,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,...,dow,doy,dcount,h_type,h_desc,pd,wbe,wae,wfe,store_item_nbr
0,2013-01-01,0,25,103665,7.0,Unk,BREAD/BAKERY,2712,1,Salinas,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_103665
1,2013-01-01,1,25,105574,1.0,Unk,GROCERY I,1045,0,Salinas,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_105574
2,2013-01-01,2,25,105575,2.0,Unk,GROCERY I,1045,0,Salinas,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_105575
3,2013-01-01,3,25,108079,1.0,Unk,GROCERY I,1030,0,Salinas,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_108079
4,2013-01-01,4,25,108701,1.0,Unk,DELI,2644,1,Salinas,...,1,1,734869,Holiday,Primer dia del ano,0,172,0,172,25_108701

In [25]:
past_date = np.datetime64('2015-01-01')

df_train = df_train[(df_train.date.apply(np.datetime64) >= past_date)]

In [26]:
df_train.shape

(86902776, 27)

In [27]:
df_train.head()

,date,id,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,...,dow,doy,dcount,h_type,h_desc,pd,wbe,wae,wfe,store_item_nbr
38594264,2015-01-01,38594264,25,103665,12.0,False,BREAD/BAKERY,2712,1,Salinas,...,3,1,735599,Holiday,Primer dia del ano,0,68,0,68,25_103665
38594265,2015-01-01,38594265,25,105575,23.0,False,GROCERY I,1045,0,Salinas,...,3,1,735599,Holiday,Primer dia del ano,0,68,0,68,25_105575
38594266,2015-01-01,38594266,25,108634,1.0,False,GROCERY I,1075,0,Salinas,...,3,1,735599,Holiday,Primer dia del ano,0,68,0,68,25_108634
38594267,2015-01-01,38594267,25,108698,6.0,False,DELI,2644,1,Salinas,...,3,1,735599,Holiday,Primer dia del ano,0,68,0,68,25_108698
38594268,2015-01-01,38594268,25,108786,6.0,False,CLEANING,3044,0,Salinas,...,3,1,735599,Holiday,Primer dia del ano,0,68,0,68,25_108786

In [28]:
df_train.tail()

,date,id,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,...,dow,doy,dcount,h_type,h_desc,pd,wbe,wae,wfe,store_item_nbr
125497035,2017-08-15,125497035,54,2089339,4.0,False,GROCERY I,1006,0,El Carmen,...,1,227,736556,Work Day,Normal,1,0,70,70,54_2089339
125497036,2017-08-15,125497036,54,2106464,1.0,True,BEVERAGES,1148,0,El Carmen,...,1,227,736556,Work Day,Normal,1,0,70,70,54_2106464
125497037,2017-08-15,125497037,54,2110456,192.0,False,BEVERAGES,1120,0,El Carmen,...,1,227,736556,Work Day,Normal,1,0,70,70,54_2110456
125497038,2017-08-15,125497038,54,2113914,198.0,True,CLEANING,3040,0,El Carmen,...,1,227,736556,Work Day,Normal,1,0,70,70,54_2113914
125497039,2017-08-15,125497039,54,2116416,2.0,False,GROCERY I,1060,0,El Carmen,...,1,227,736556,Work Day,Normal,1,0,70,70,54_2116416

In [29]:
import os
x = {i for i in range(20)}
os.sched_setaffinity(0, x)

In [30]:
# now split in to various stores

In [31]:
len(set(df_train.store_nbr))

54

In [32]:
set(range(1,55)) - set(df_train.store_nbr)

set()

In [34]:
set(df_train.store_nbr) - set(range(1,55))

set()

In [35]:
import gc
gc.enable()

In [36]:
for i in tqdm(range(1,55)):
    df = df_train[df_train.store_nbr == i]
    fn = '../cache/train10_t_store{}.csv'.format(i)
    df.to_csv(fn, index=False)
    del df

100%|██████████| 54/54 [22:27<00:00, 24.95s/it]

In [37]:
gc.collect()

449

In [ ]:
set(range(1,55)) - set(df_test.store_nbr)

In [ ]:
len(set(df_test.store_nbr))

In [39]:
df_test.shape

(3370464, 26)

In [40]:
df_train.shape

(125497040, 27)

In [42]:
for i in tqdm(range(1,55)):
    df = df_test[df_test.store_nbr == i]
    fn = '../cache/test7_t_store{}.csv'.format(i)
    df.to_csv(fn, index=False)
    del df

  0%|          | 0/54 [00:00<?, ?it/s]
  2%|▏         | 1/54 [00:03<02:48,  3.18s/it]
  4%|▎         | 2/54 [00:03<01:43,  1.99s/it]
  6%|▌         | 3/54 [00:04<01:20,  1.59s/it]
  7%|▋         | 4/54 [00:05<01:11,  1.43s/it]
  9%|▉         | 5/54 [00:06<01:04,  1.32s/it]
 11%|█         | 6/54 [00:07<00:59,  1.23s/it]
 13%|█▎        | 7/54 [00:08<00:54,  1.16s/it]
 15%|█▍        | 8/54 [00:08<00:51,  1.11s/it]
Exception in thread Thread-8:
Traceback (most recent call last):
  File "/home/watts/anaconda3/envs/rss/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/home/watts/anaconda3/envs/rss/lib/python3.5/site-packages/tqdm/_tqdm.py", line 144, in run
    for instance in self.tqdm_cls._instances:
  File "/home/watts/anaconda3/envs/rss/lib/python3.5/_weakrefset.py", line 60, in __iter__
    for itemref in self.data:
RuntimeError: Set changed size during iteration

100%|██████████| 54/54 [00:48<00:00,  1.11it/s]

In [43]:
gc.collect()

424

In [3]:
df_test  = pd.read_csv('../cache/test7_t.csv')

In [4]:
df_test.T

,0,1,2,3,4,5,6,7,8,9,...,3370454,3370455,3370456,3370457,3370458,3370459,3370460,3370461,3370462,3370463
id,125497040,125497041,125497042,125497043,125497044,125497045,125497046,125497047,125497048,125497049,...,128867494,128867495,128867496,128867497,128867498,128867499,128867500,128867501,128867502,128867503
date,2017-08-16,2017-08-16,2017-08-16,2017-08-16,2017-08-16,2017-08-16,2017-08-16,2017-08-16,2017-08-16,2017-08-16,...,2017-08-31,2017-08-31,2017-08-31,2017-08-31,2017-08-31,2017-08-31,2017-08-31,2017-08-31,2017-08-31,2017-08-31
store_nbr,1,1,1,1,1,1,1,1,1,1,...,54,54,54,54,54,54,54,54,54,54
item_nbr,96995,99197,103501,103520,103665,105574,105575,105576,105577,105693,...,2130526,2130553,2131010,2131572,2131699,2132163,2132318,2132945,2132957,2134244
onpromotion,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
item_family,GROCERY I,GROCERY I,CLEANING,GROCERY I,BREAD/BAKERY,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,...,GROCERY I,"LIQUOR,WINE,BEER","LIQUOR,WINE,BEER",GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,"LIQUOR,WINE,BEER"
item_class,1093,1067,3008,1028,2712,1045,1045,1045,1045,1034,...,1030,1318,1328,1002,1002,1040,1002,1026,1068,1364
perishable,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
city,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,...,El Carmen,El Carmen,El Carmen,El Carmen,El Carmen,El Carmen,El Carmen,El Carmen,El Carmen,El Carmen
state,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,...,Manabi,Manabi,Manabi,Manabi,Manabi,Manabi,Manabi,Manabi,Manabi,Manabi
store_type,D,D,D,D,D,D,D,D,D,D,...,C,C,C,C,C,C,C,C,C,C
cluster,13,13,13,13,13,13,13,13,13,13,...,3,3,3,3,3,3,3,3,3,3
dcoilwtico,46.8,46.8,46.8,46.8,46.8,46.8,46.8,46.8,46.8,46.8,...,47.26,47.26,47.26,47.26,47.26,47.26,47.26,47.26,47.26,47.26
transactions,1538,1538,1538,1538,1538,1538,1538,1538,1538,1538,...,763,763,763,763,763,763,763,763,763,763
dom,16,16,16,16,16,16,16,16,16,16,...,31,31,31,31,31,31,31,31,31,31
mon,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
dow,2,2,2,2,2,2,2,2,2,2,...,3,3,3,3,3,3,3,3,3,3
doy,228,228,228,228,228,228,228,228,228,228,...,243,243,243,243,243,243,243,243,243,243
dcount,736557,736557,736557,736557,736557,736557,736557,736557,736557,736557,...,736572,736572,736572,736572,736572,736572,736572,736572,736572,736572
h_type,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,...,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day
h_desc,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,...,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal
pd,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
wbe,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
wae,70,70,70,70,70,70,70,70,70,70,...,72,72,72,72,72,72,72,72,72,72
wfe,70,70,70,70,70,70,70,70,70,70,...,72,72,72,72,72,72,72,72,72,72
store_item_nbr,1_96995,1_99197,1_103501,1_103520,1_103665,1_105574,1_105575,1_105576,1_105577,1_105693,...,54_2130526,54_2130553,54_2131010,54_2131572,54_2131699,54_2132163,54_2132318,54_2132945,54_2132957,54_2134244

In [5]:
df_sub = pd.read_csv('../submissions/lgb.csv')

In [6]:
df_sub.head()

          id  unit_sales
0  125497040      0.2087
1  125497041      0.3790
2  125497042      0.0000
3  125497043      1.4433
4  125497044      1.9638

In [7]:
df_test = pd.merge(df_test, df_sub, how='left', on='id')

In [8]:
df_test.isnull().sum()

id                0
date              0
store_nbr         0
item_nbr          0
onpromotion       0
item_family       0
item_class        0
perishable        0
city              0
state             0
store_type        0
cluster           0
dcoilwtico        0
transactions      0
dom               0
mon               0
dow               0
doy               0
dcount            0
h_type            0
h_desc            0
pd                0
wbe               0
wae               0
wfe               0
store_item_nbr    0
unit_sales        0
dtype: int64

In [10]:
df_test.shape

(3370464, 27)

In [9]:
for i in tqdm(range(1,55)):
    df = df_test[df_test.store_nbr == i]
    fn = '../cache/bkup2/test7_1_t_store{}.csv'.format(i)
    df.to_csv(fn, index=False, float_format='%.5f')
    del df

100%|██████████| 54/54 [00:52<00:00,  1.03it/s]