In [1]:
import os
from tqdm import tqdm
# import feather
import pandas as pd
import numpy as np
from scipy import stats
import gc
from joblib import Parallel, delayed

In [2]:
def append_to_csv(batch, csv_file):
    props = dict(encoding='utf-8', index=False)
    if not os.path.exists(csv_file):
        batch.to_csv(csv_file, **props)
    else:
        batch.to_csv(csv_file, mode='a', header=False, **props)

def delete_file_if_exists(filename):
    if os.path.exists(filename):
        os.remove(filename)

In [3]:
fn = '../cache/bkup/train10_t_store{}.csv'.format(1)
df =pd.read_csv(fn)

/home/watts/anaconda2/envs/sdp35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,2562143,2562144,2562145,2562146,2562147,2562148,2562149,2562150,2562151,2562152
id,578,579,580,581,582,583,584,585,586,587,...,125396202,125396203,125396204,125396205,125396206,125396207,125396208,125396209,125396210,125396211
date,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,...,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15
store_nbr,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
item_nbr,103665,105574,105575,105577,105737,105857,106716,108696,108698,108701,...,2111684,2111870,2112404,2113914,2114566,2114812,2116416,2122188,2122676,2124052
unit_sales,2,8,15,2,2,12,2,3,6,3,...,7,21,5,1,1,1,1,1,2,1
onpromotion,Unk,Unk,Unk,Unk,Unk,Unk,Unk,Unk,Unk,Unk,...,False,False,True,False,False,True,False,False,False,False
item_family,BREAD/BAKERY,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,DELI,DELI,DELI,...,BEVERAGES,PRODUCE,DAIRY,CLEANING,GROCERY I,CLEANING,GROCERY I,GROCERY I,BEVERAGES,"LIQUOR,WINE,BEER"
item_class,2712,1045,1045,1045,1044,1092,1032,2636,2644,2644,...,1120,2028,2108,3040,1034,3020,1060,1084,1124,1318
perishable,1,0,0,0,0,0,0,1,1,1,...,0,1,1,0,0,0,0,0,0,0
city,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,...,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito
state,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,...,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha
store_type,D,D,D,D,D,D,D,D,D,D,...,D,D,D,D,D,D,D,D,D,D
cluster,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
dcoilwtico,93.14,93.14,93.14,93.14,93.14,93.14,93.14,93.14,93.14,93.14,...,47.57,47.57,47.57,47.57,47.57,47.57,47.57,47.57,47.57,47.57
transactions,2111,2111,2111,2111,2111,2111,2111,2111,2111,2111,...,1693,1693,1693,1693,1693,1693,1693,1693,1693,1693
dom,2,2,2,2,2,2,2,2,2,2,...,15,15,15,15,15,15,15,15,15,15
mon,1,1,1,1,1,1,1,1,1,1,...,8,8,8,8,8,8,8,8,8,8
dow,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
doy,2,2,2,2,2,2,2,2,2,2,...,227,227,227,227,227,227,227,227,227,227
dcount,734870,734870,734870,734870,734870,734870,734870,734870,734870,734870,...,736556,736556,736556,736556,736556,736556,736556,736556,736556,736556
h_type,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,...,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day
h_desc,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,...,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal
pd,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
wbe,172,172,172,172,172,172,172,172,172,172,...,0,0,0,0,0,0,0,0,0,0
wae,0,0,0,0,0,0,0,0,0,0,...,70,70,70,70,70,70,70,70,70,70
wfe,172,172,172,172,172,172,172,172,172,172,...,70,70,70,70,70,70,70,70,70,70
store_item_nbr,1_103665,1_105574,1_105575,1_105577,1_105737,1_105857,1_106716,1_108696,1_108698,1_108701,...,1_2111684,1_2111870,1_2112404,1_2113914,1_2114566,1_2114812,1_2116416,1_2122188,1_2122676,1_2124052

In [6]:
df.h_type.value_counts()

Work Day      1766988
Weekend        596121
Holiday        103455
Event           88892
Additional       6697
Name: h_type, dtype: int64

In [30]:
# df[df.onpromotion == True]

In [31]:
# fn = '../cache/bkup/test7_t_store{}.csv'.format(2)
# df2 =pd.read_csv(fn)

In [32]:
df[(df.onpromotion == True) & (df.store_item_nbr == '1_105737')]

Empty DataFrame
Columns: [id, date, store_nbr, item_nbr, onpromotion, item_family, item_class, perishable, city, state, store_type, cluster, dcoilwtico, transactions, dom, mon, dow, doy, dcount, h_type, h_desc, pd, wbe, wae, wfe, store_item_nbr]
Index: []

[0 rows x 26 columns]

In [33]:
# len(set(df2.store_item_nbr))

In [34]:
# df2[df2.onpromotion == True]

In [35]:
# df2.h_type.value_counts()

In [36]:
# df2.h_desc.value_counts()

In [37]:
def days_from_next_promotion(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.onpromotion == True] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_next_promo'] = max_days
        last_loc = 0
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc < j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_next_promo'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_next_promo'] = diff
                last_loc += 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_next_promo'] = 0
                last_loc += 1
        fn_tmp = '../cache/train10_t_store{}_{}_next_promo_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_next_promo'] = df_it['days_from_next_promo'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_next_promo_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_next_promo.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_next_promo_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [38]:
def days_from_prev_promotion(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.onpromotion == True] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_prev_promo'] = max_days
        last_loc = len(df_it)-1
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc > j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_prev_promo'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_prev_promo'] = abs(diff)
                last_loc -= 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_prev_promo'] = 0
                last_loc -= 1
        fn_tmp = '../cache/train10_t_store{}_{}_prev_promo_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_prev_promo'] = df_it['days_from_prev_promo'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_promo_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_prev_promo.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_promo_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [39]:
def days_from_next_event(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_type == 'Event'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_next_event'] = max_days
        last_loc = 0
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc < j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_next_event'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_next_event'] = diff
                last_loc += 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_next_event'] = 0
                last_loc += 1
        fn_tmp = '../cache/train10_t_store{}_{}_next_event_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_next_event'] = df_it['days_from_next_event'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_next_event_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_next_event.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_next_event_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [40]:
def days_from_prev_event(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_type == 'Event'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_prev_event'] = max_days
        last_loc = len(df_it)-1
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc > j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_prev_event'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_prev_event'] = abs(diff)
                last_loc -= 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_prev_event'] = 0
                last_loc -= 1
        fn_tmp = '../cache/train10_t_store{}_{}_prev_event_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_prev_event'] = df_it['days_from_prev_event'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_event_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_prev_event.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_event_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [41]:
def days_from_next_holiday(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_type == 'Holiday'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_next_holiday'] = max_days
        last_loc = 0
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc < j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_next_holiday'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_next_holiday'] = diff
                last_loc += 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_next_holiday'] = 0
                last_loc += 1
        fn_tmp = '../cache/train10_t_store{}_{}_next_holiday_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_next_holiday'] = df_it['days_from_next_holiday'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_next_holiday_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_next_holiday.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_next_holiday_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [42]:
def days_from_prev_holiday(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_type == 'Holiday'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_prev_holiday'] = max_days
        last_loc = len(df_it)-1
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc > j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_prev_holiday'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_prev_holiday'] = abs(diff)
                last_loc -= 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_prev_holiday'] = 0
                last_loc -= 1
        fn_tmp = '../cache/train10_t_store{}_{}_prev_holiday_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_prev_holiday'] = df_it['days_from_prev_holiday'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_holiday_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_prev_holiday.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_holiday_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [43]:
def days_from_next_nw(store_num):
    fn = '../cache/bkup/test7_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_type != 'Work Day'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_next_nw'] = max_days
        last_loc = 0
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc < j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_next_nw'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_next_nw'] = diff
                last_loc += 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_next_nw'] = 0
                last_loc += 1
        fn_tmp = '../cache/test7_t_store{}_{}_next_nw_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_next_nw'] = df_it['days_from_next_nw'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/test7_t_store{}_{}_next_nw_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/test7_t_store{}_days_from_next_nw.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/test7_t_store{}_{}_next_nw_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [44]:
def days_from_prev_nw(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_type != 'Work Day'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_prev_nw'] = max_days
        last_loc = len(df_it)-1
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc > j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_prev_nw'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_prev_nw'] = abs(diff)
                last_loc -= 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_prev_nw'] = 0
                last_loc -= 1
        fn_tmp = '../cache/train10_t_store{}_{}_prev_nw_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_prev_nw'] = df_it['days_from_prev_nw'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_nw_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_prev_nw.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_nw_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [45]:
def days_from_next_nn(store_num):
    fn = '../cache/bkup/test7_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_desc != 'Normal'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_next_nn'] = max_days
        last_loc = 0
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc < j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_next_nn'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_next_nn'] = diff
                last_loc += 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_next_nn'] = 0
                last_loc += 1
        fn_tmp = '../cache/test7_t_store{}_{}_next_nn_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_next_nn'] = df_it['days_from_next_nn'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/test7_t_store{}_{}_next_nn_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/test7_t_store{}_days_from_next_nn.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/test7_t_store{}_{}_next_nn_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [46]:
def days_from_prev_nn(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.h_desc != 'Normal'] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_prev_nn'] = max_days
        last_loc = len(df_it)-1
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc > j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_prev_nn'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_prev_nn'] = abs(diff)
                last_loc -= 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_prev_nn'] = 0
                last_loc -= 1
        fn_tmp = '../cache/train10_t_store{}_{}_prev_nn_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_prev_nn'] = df_it['days_from_prev_nn'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_nn_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort('id')
    df = df[(df.dts >= np.datetime64('2015-01-01')) & (df.dts <= np.datetime64('2017-08-15'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/train10_t_store{}_days_from_prev_nn.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/train10_t_store{}_{}_prev_nn_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [47]:
# days_from_next_promotion(df2)

In [48]:
# for i in tqdm(range(1,55)):
# #     days_from_next_promotion(i)
#     days_from_prev_promotion(i)
# #     days_from_next_event(i)
# #     days_from_prev_event(i)
# #     days_from_next_holiday(i)
# #     days_from_prev_holiday(i)
# #     days_from_next_nw(i)
# #     days_from_prev_nw(i)
# #     days_from_next_nn(i)
# #     days_from_prev_nn(i)

In [48]:
def days_from_prev_promotion_test(store_num):
    fn = '../cache/bkup/test7_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
    df['dts'] = df.date.map(np.datetime64)
    df_min_date = np.min(df.dts)
    df_max_date = np.min(df.dts)
    max_days = ((df_max_date - df_min_date))/np.timedelta64(1, 'D')
    n = 0
    items = list(set(df.store_item_nbr))
    for item in items:
        n = 1
        df_it = df[(df.store_item_nbr == item)].reset_index(drop=True)
        
        df_it['pe'] = 0 # promotion event
        df_it['pe'][df_it.onpromotion == True] = 1
        promo_indices = list(np.transpose(*np.where(df_it.pe)))
        
        df_it['days_from_prev_promo'] = max_days
        last_loc = len(df_it)-1
        for j in promo_indices:
            promo_date = df_it.loc[j, 'dts']
            while last_loc > j:
                curr_date = df_it.loc[last_loc, 'dts']
                if(curr_date == promo_date):
                    df_it.loc[last_loc, 'days_from_prev_promo'] = 0
                    continue
                diff = int((promo_date - curr_date)/ np.timedelta64(1, 'D'))
                df_it.loc[last_loc, 'days_from_prev_promo'] = abs(diff)
                last_loc -= 1    
            if last_loc == j:
                df_it.loc[last_loc, 'days_from_prev_promo'] = 0
                last_loc -= 1
        fn_tmp = '../cache/test7_t_store{}_{}_prev_promo_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)
        df1 = pd.DataFrame()
        df1['id'] = df_it['id'].values
        df1['days_from_prev_promo'] = df_it['days_from_prev_promo'].values
        df1.to_csv(fn_tmp, float_format='%.5f', index=False)
        del df1
    df2 = pd.DataFrame()
    for item in items:
        fn_tmp = '../cache/test7_t_store{}_{}_prev_promo_tmp.csv'.format(store_num, item)
        df1 = pd.read_csv(fn_tmp)
        df2 = pd.concat([df2, df1], axis=0)
    df2 = df2.sort_values('id')
    df = df[(df.dts >= np.datetime64('2017-08-16')) & (df.dts <= np.datetime64('2017-08-31'))]
    min_id = df.iloc[0]['id']
    df2 = df2[df2.id >= min_id]
    assert(len(df) == len(df2))
    # assert(df.id == df2.id)
    s = sum(df2.isnull().any()==True) # print NA
    print(s)
    if s > 0:
        print(df2.isnull().sum())
    fn_tmp = '../cache/test7_t_store{}_days_from_prev_promo.csv'.format(store_num)
    delete_file_if_exists(fn_tmp)
    df2.to_csv(fn_tmp, float_format='%.5f', index=False)
    del df2
    del df
    for item in items:
        fn_tmp = '../cache/test7_t_store{}_{}_prev_promo_tmp.csv'.format(store_num, item)
        delete_file_if_exists(fn_tmp)

In [50]:
# for i in tqdm(range(1,55)):
#     days_from_next_promotion(i)
#     days_from_prev_promotion_test(i)
#     days_from_next_event(i)
#     days_from_prev_event(i)
#     days_from_next_holiday(i)
#     days_from_prev_holiday(i)
#     days_from_next_nw(i)
#     days_from_prev_nw(i)
#     days_from_next_nn(i)
#     days_from_prev_nn(i)

  0%|          | 0/54 [00:00<?, ?it/s]/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:45: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

0

  2%|▏         | 1/54 [04:23<3:52:37, 263.36s/it]

0

  6%|▌         | 3/54 [11:13<3:17:05, 231.87s/it]

0
0

  9%|▉         | 5/54 [17:03<2:45:22, 202.50s/it]

0

 11%|█         | 6/54 [19:53<2:34:01, 192.52s/it]

0

 13%|█▎        | 7/54 [22:42<2:25:26, 185.67s/it]

0

 15%|█▍        | 8/54 [25:32<2:18:39, 180.86s/it]

0

 17%|█▋        | 9/54 [28:23<2:13:27, 177.94s/it]

0

 19%|█▊        | 10/54 [31:13<2:08:42, 175.51s/it]

0

 20%|██        | 11/54 [34:05<2:05:02, 174.47s/it]

0

 22%|██▏       | 12/54 [36:54<2:01:05, 172.99s/it]

0

 24%|██▍       | 13/54 [39:44<1:57:25, 171.85s/it]

0

 26%|██▌       | 14/54 [42:14<1:50:13, 165.33s/it]

0

 28%|██▊       | 15/54 [44:37<1:43:13, 158.81s/it]

0

 30%|██▉       | 16/54 [47:01<1:37:38, 154.17s/it]

0

 31%|███▏      | 17/54 [49:24<1:33:00, 150.83s/it]

0

 33%|███▎      | 18/54 [51:48<1:29:14, 148.74s/it]

0

 35%|███▌      | 19/54 [54:10<1:25:40, 146.88s/it]

0

 37%|███▋      | 20/54 [56:35<1:22:48, 146.14s/it]

0

 39%|███▉      | 21/54 [58:58<1:19:58, 145.40s/it]

0

 41%|████      | 22/54 [1:01:21<1:17:11, 144.74s/it]

0

 43%|████▎     | 23/54 [1:03:44<1:14:25, 144.05s/it]

0

 44%|████▍     | 24/54 [1:06:07<1:11:50, 143.69s/it]

0

 46%|████▋     | 25/54 [1:08:29<1:09:10, 143.13s/it]

0

 48%|████▊     | 26/54 [1:10:50<1:06:34, 142.67s/it]

0

 50%|█████     | 27/54 [1:13:13<1:04:11, 142.64s/it]

0

 52%|█████▏    | 28/54 [1:15:37<1:02:03, 143.20s/it]

0

 54%|█████▎    | 29/54 [1:18:02<59:48, 143.54s/it]

0

 56%|█████▌    | 30/54 [1:20:25<57:21, 143.39s/it]

0

 57%|█████▋    | 31/54 [1:22:48<55:01, 143.54s/it]

0

 59%|█████▉    | 32/54 [1:25:12<52:36, 143.46s/it]

0

 61%|██████    | 33/54 [1:27:36<50:16, 143.67s/it]

0

 63%|██████▎   | 34/54 [1:30:00<47:56, 143.85s/it]

0

 65%|██████▍   | 35/54 [1:32:23<45:28, 143.62s/it]

0

 67%|██████▋   | 36/54 [1:34:49<43:17, 144.30s/it]

0

 69%|██████▊   | 37/54 [1:37:12<40:44, 143.79s/it]

0

 70%|███████   | 38/54 [1:39:34<38:13, 143.34s/it]

0

 72%|███████▏  | 39/54 [1:41:58<35:52, 143.50s/it]

0

 74%|███████▍  | 40/54 [1:44:21<33:29, 143.51s/it]

0

 76%|███████▌  | 41/54 [1:46:43<30:59, 143.08s/it]

0

 78%|███████▊  | 42/54 [1:49:06<28:36, 143.04s/it]

0

 80%|███████▉  | 43/54 [1:51:31<26:17, 143.39s/it]

0

 81%|████████▏ | 44/54 [1:53:54<23:54, 143.44s/it]

0

 83%|████████▎ | 45/54 [1:56:17<21:29, 143.29s/it]

0

 85%|████████▌ | 46/54 [1:58:40<19:05, 143.21s/it]

0

 87%|████████▋ | 47/54 [2:01:04<16:43, 143.31s/it]

0

 89%|████████▉ | 48/54 [2:03:27<14:20, 143.35s/it]

0

 91%|█████████ | 49/54 [2:05:51<11:57, 143.47s/it]

0
0

 94%|█████████▍| 51/54 [2:10:38<07:10, 143.55s/it]

0

 96%|█████████▋| 52/54 [2:13:01<04:46, 143.34s/it]

0

 98%|█████████▊| 53/54 [2:15:24<02:23, 143.37s/it]

0

100%|██████████| 54/54 [2:17:47<00:00, 143.23s/it]

0

In [8]:
fn = '../cache/bkup/train10_t_store{}.csv'.format(1)
df =pd.read_csv(fn)
# df['dts'] = df.date.map(pd.to_datetime)
# df['dts1'] = df.date.map(np.datetime64)

/home/watts/anaconda2/envs/sdp35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
from datetime import date

In [10]:

df['year'] = df.dcount.map(lambda x: date.fromordinal(x).isocalendar()[0])
df['curr_week']  = df.dcount.map(lambda x: date.fromordinal(x).isocalendar()[1])

In [11]:
np.min(df.year)

2013

In [12]:
np.max(df.year)

2017

In [13]:
df['cw'] = df['curr_week'].astype('str') + '_' + df['year'].astype('str')

In [14]:
pd.to_datetime('2013-12-31').year

2013

In [15]:
pd.to_datetime('2013-12-31').isocalendar()

(2014, 1, 2)

In [16]:
import datetime

In [17]:
pd.to_datetime('2013-12-31').isocalendar()

(2014, 1, 2)

In [18]:
def get_prev_week(date):
    curr_year, curr_month, curr_day = str(date).split('-')
    
    today = datetime.date(int(curr_year),int(curr_month),int(curr_day))
    prev_week = today + datetime.timedelta(days=-7)
    selected_week = prev_week.isocalendar()[1]
    selected_year = prev_week.isocalendar()[0]
   
        
    prev_week = str(selected_week) + '_' + str(selected_year)
    return prev_week

In [19]:
def get_next_week(date):
    curr_year, curr_month, curr_day = str(date).split('-')
    
    today = datetime.date(int(curr_year),int(curr_month),int(curr_day))
    next_week = today + datetime.timedelta(days=7)
    selected_week = next_week.isocalendar()[1]
    selected_year = next_week.isocalendar()[0]
   
    next_week = str(selected_week) + '_' + str(selected_year)
    return next_week

In [20]:
def get_holidays_in_week(df, wk):
    weeks = list(np.unique(df[wk].values))
#     print(len(weeks))
    col = 'hols_in_'+ str(wk)
    df1 = pd.DataFrame()
    for week in tqdm(weeks):
        data = df[(df.h_type != 'Work Day') & (df.h_type != 'Weekend') & (df.cw == week)]
#         print(len(data))
        if len(data) > 0:
            df2 = pd.DataFrame()
            df2['id'] = data.id.values
            l = list(data.index.values)
            n = len(np.unique(data.date))
            df2[col] = n
            df1 = pd.concat([df1, df2], axis=0)
            del df2
    
    df1_id = df1.id.values
    df2_id = df.id[~df.id.isin(df1_id)]
    df2 = pd.DataFrame()
    df2['id'] = df2_id.values
    df2[col] = 0
    df1 = pd.concat([df1,df2], axis=0)
    df1 = df1.sort_values('id')
    del df2
#     print(len(df1), len(df))
    df[col] = df1[col].values
#     print(df.head())
    del df1
    return df

In [34]:
df.head()

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,item_family,item_class,perishable,city,...,store_item_nbr,dts,year,curr_week,cw,pw,nw,hols_in_cw,hols_in_nw,hols_in_pw
0,578,2013-01-02,1,103665,2.0,Unk,BREAD/BAKERY,2712,1,Quito,...,1_103665,2013-01-02,2013,1,1_2013,52_2012,2_2013,0,0,0
1,579,2013-01-02,1,105574,8.0,Unk,GROCERY I,1045,0,Quito,...,1_105574,2013-01-02,2013,1,1_2013,52_2012,2_2013,0,0,0
2,580,2013-01-02,1,105575,15.0,Unk,GROCERY I,1045,0,Quito,...,1_105575,2013-01-02,2013,1,1_2013,52_2012,2_2013,0,0,0
3,581,2013-01-02,1,105577,2.0,Unk,GROCERY I,1045,0,Quito,...,1_105577,2013-01-02,2013,1,1_2013,52_2012,2_2013,0,0,0
4,582,2013-01-02,1,105737,2.0,Unk,GROCERY I,1044,0,Quito,...,1_105737,2013-01-02,2013,1,1_2013,52_2012,2_2013,0,0,0

In [22]:
df['pw']  = df['date'].map(lambda x: get_prev_week(x))

In [23]:
data = df[(df.h_type != 'Work Day') & (df.cw == '1_2013')]

In [24]:
len(data)

659

In [25]:
np.unique(data.date)

array(['2013-01-06'], dtype=object)

In [26]:
df['nw']  = df['date'].map(lambda x: get_next_week(x))

In [27]:
df['hols_in_cw'] = 0
df['hols_in_nw'] = 0
df['hols_in_pw'] = 0

In [28]:
%%time
df = get_holidays_in_week(df, 'cw')

100%|██████████| 242/242 [03:19<00:00,  1.21it/s]

CPU times: user 3min 24s, sys: 340 ms, total: 3min 25s
Wall time: 3min 25s

In [35]:
np.unique(df.hols_in_cw)

array([0, 1, 2, 3, 4, 5, 7])

In [30]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,2562143,2562144,2562145,2562146,2562147,2562148,2562149,2562150,2562151,2562152
id,578,579,580,581,582,583,584,585,586,587,...,125396202,125396203,125396204,125396205,125396206,125396207,125396208,125396209,125396210,125396211
date,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,2013-01-02,...,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15,2017-08-15
store_nbr,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
item_nbr,103665,105574,105575,105577,105737,105857,106716,108696,108698,108701,...,2111684,2111870,2112404,2113914,2114566,2114812,2116416,2122188,2122676,2124052
unit_sales,2,8,15,2,2,12,2,3,6,3,...,7,21,5,1,1,1,1,1,2,1
onpromotion,Unk,Unk,Unk,Unk,Unk,Unk,Unk,Unk,Unk,Unk,...,False,False,True,False,False,True,False,False,False,False
item_family,BREAD/BAKERY,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,GROCERY I,DELI,DELI,DELI,...,BEVERAGES,PRODUCE,DAIRY,CLEANING,GROCERY I,CLEANING,GROCERY I,GROCERY I,BEVERAGES,"LIQUOR,WINE,BEER"
item_class,2712,1045,1045,1045,1044,1092,1032,2636,2644,2644,...,1120,2028,2108,3040,1034,3020,1060,1084,1124,1318
perishable,1,0,0,0,0,0,0,1,1,1,...,0,1,1,0,0,0,0,0,0,0
city,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,...,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito,Quito
state,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,...,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha,Pichincha
store_type,D,D,D,D,D,D,D,D,D,D,...,D,D,D,D,D,D,D,D,D,D
cluster,13,13,13,13,13,13,13,13,13,13,...,13,13,13,13,13,13,13,13,13,13
dcoilwtico,93.14,93.14,93.14,93.14,93.14,93.14,93.14,93.14,93.14,93.14,...,47.57,47.57,47.57,47.57,47.57,47.57,47.57,47.57,47.57,47.57
transactions,2111,2111,2111,2111,2111,2111,2111,2111,2111,2111,...,1693,1693,1693,1693,1693,1693,1693,1693,1693,1693
dom,2,2,2,2,2,2,2,2,2,2,...,15,15,15,15,15,15,15,15,15,15
mon,1,1,1,1,1,1,1,1,1,1,...,8,8,8,8,8,8,8,8,8,8
dow,2,2,2,2,2,2,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
doy,2,2,2,2,2,2,2,2,2,2,...,227,227,227,227,227,227,227,227,227,227
dcount,734870,734870,734870,734870,734870,734870,734870,734870,734870,734870,...,736556,736556,736556,736556,736556,736556,736556,736556,736556,736556
h_type,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,...,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day,Work Day
h_desc,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,...,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal,Normal
pd,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
wbe,172,172,172,172,172,172,172,172,172,172,...,0,0,0,0,0,0,0,0,0,0
wae,0,0,0,0,0,0,0,0,0,0,...,70,70,70,70,70,70,70,70,70,70
wfe,172,172,172,172,172,172,172,172,172,172,...,70,70,70,70,70,70,70,70,70,70
store_item_nbr,1_103665,1_105574,1_105575,1_105577,1_105737,1_105857,1_106716,1_108696,1_108698,1_108701,...,1_2111684,1_2111870,1_2112404,1_2113914,1_2114566,1_2114812,1_2116416,1_2122188,1_2122676,1_2124052
dts,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,...,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00,2017-08-15 00:00:00
year,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,...,2017,2017,2017,2017,2017,2017,2017,2017,2017,2017
curr_week,1,1,1,1,1,1,1,1,1,1,...,33,33,33,33,33,33,33,33,33,33
cw,1_2013,1_2013,1_2013,1_2013,1_2013,1_2013,1_2013,1_2013,1_2013,1_2013,...,33_2017,33_2017,33_2017,33_2017,33_2017,33_2017,33_2017,33_2017,33_2017,33_2017
pw,52_2012,52_2012,52_2012,52_2012,52_2012,52_2012,52_2012,52_2012,52_2012,52_2012,...,32_2017,32_2017,32_2017,32_2017,32_2017,32_2017,32_2017,32_2017,32_2017,32_2017
nw,2_2013,2_2013,2_2013,2_2013,2_2013,2_2013,2_2013,2_2013,2_2013,2_2013,...,34_2017,34_2017,34_2017,34_2017,34_2017,34_2017,34_2017,34_2017,34_2017,34_2017
hols_in_cw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hols_in_nw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
hols_in_pw,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
set(df['hols_in_cw'].values)

{0, 1, 2, 3, 4, 5, 7}

In [32]:
def holidays_in_curr_prev_next_week(store_num):
    fn = '../cache/bkup/train10_t_store{}.csv'.format(store_num)
    df =pd.read_csv(fn)
#     df['dts'] = df.date.map(pd.to_datetime)
    df['year'] = df.dcount.map(lambda x: date.fromordinal(x).isocalendar()[0])
    df['curr_week']  = df.dcount.map(lambda x: date.fromordinal(x).isocalendar()[1])
    df['cw'] = df['curr_week'].astype('str') + '_' + df['year'].astype('str')
    df['pw']  = df['date'].map(lambda x: get_prev_week(x))
    df['nw']  = df['date'].map(lambda x: get_next_week(x))
    df['hols_in_cw'] = 0
    df['hols_in_nw'] = 0
    df['hols_in_pw'] = 0
    df = get_holidays_in_week(df, 'cw')
    df = get_holidays_in_week(df, 'pw')
    df = get_holidays_in_week(df, 'nw')
    
    hols = ['hols_in_cw', 'hols_in_pw', 'hols_in_nw']
    df1 = df[hols]
    fn_tmp = '../cache/train10_t_store{}_cw_pw_nw_hols.csv'.format(store_num)
    print(fn_tmp)
    df1.to_csv(fn_tmp, float_format='%.5f', index=False)
    
    del df
    del df1

In [33]:
for i in range(1,55):
    holidays_in_curr_prev_next_week(i)

/home/watts/anaconda2/envs/sdp35/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2850: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
100%|██████████| 242/242 [03:20<00:00,  1.21it/s]
100%|██████████| 242/242 [03:19<00:00,  1.21it/s]
100%|██████████| 242/242 [03:19<00:00,  1.21it/s]

../cache/train10_t_store1_cw_pw_nw_hols.csv

100%|██████████| 242/242 [03:55<00:00,  1.03it/s]
100%|██████████| 242/242 [03:12<00:00,  1.26it/s]
100%|██████████| 242/242 [02:36<00:00,  1.55it/s]

../cache/train10_t_store2_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:58<00:00,  1.36it/s]
100%|██████████| 242/242 [02:57<00:00,  1.37it/s]
100%|██████████| 242/242 [02:58<00:00,  1.36it/s]

../cache/train10_t_store3_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:28<00:00,  1.63it/s]
100%|██████████| 242/242 [02:28<00:00,  1.63it/s]
100%|██████████| 242/242 [02:28<00:00,  1.63it/s]

../cache/train10_t_store4_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:20<00:00,  1.72it/s]
100%|██████████| 242/242 [02:19<00:00,  1.73it/s]
100%|██████████| 242/242 [02:19<00:00,  1.74it/s]

../cache/train10_t_store5_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:42<00:00,  1.49it/s]
100%|██████████| 242/242 [02:41<00:00,  1.50it/s]
100%|██████████| 242/242 [02:41<00:00,  1.50it/s]

../cache/train10_t_store6_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:34<00:00,  1.57it/s]
100%|██████████| 242/242 [02:32<00:00,  1.58it/s]
100%|██████████| 242/242 [02:32<00:00,  1.59it/s]

../cache/train10_t_store7_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:51<00:00,  1.41it/s]
100%|██████████| 242/242 [02:50<00:00,  1.42it/s]
100%|██████████| 242/242 [02:50<00:00,  1.42it/s]

../cache/train10_t_store8_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:25<00:00,  1.66it/s]
100%|██████████| 242/242 [02:25<00:00,  1.67it/s]
100%|██████████| 242/242 [02:24<00:00,  1.67it/s]

../cache/train10_t_store9_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:31<00:00,  2.64it/s]
100%|██████████| 242/242 [01:31<00:00,  2.64it/s]
100%|██████████| 242/242 [01:31<00:00,  2.65it/s]

../cache/train10_t_store10_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:15<00:00,  1.79it/s]
100%|██████████| 242/242 [02:14<00:00,  1.80it/s]
100%|██████████| 242/242 [02:15<00:00,  1.79it/s]

../cache/train10_t_store11_cw_pw_nw_hols.csv

100%|██████████| 234/234 [01:34<00:00,  2.49it/s]
100%|██████████| 234/234 [01:32<00:00,  2.52it/s]
100%|██████████| 234/234 [01:33<00:00,  2.51it/s]

../cache/train10_t_store12_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:32<00:00,  2.62it/s]
100%|██████████| 242/242 [01:31<00:00,  2.64it/s]
100%|██████████| 242/242 [01:31<00:00,  2.64it/s]

../cache/train10_t_store13_cw_pw_nw_hols.csv

100%|██████████| 237/237 [01:33<00:00,  2.54it/s]
100%|██████████| 237/237 [01:32<00:00,  2.56it/s]
100%|██████████| 237/237 [01:33<00:00,  2.53it/s]

../cache/train10_t_store14_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:42<00:00,  2.35it/s]
100%|██████████| 242/242 [01:42<00:00,  2.36it/s]
100%|██████████| 242/242 [01:42<00:00,  2.36it/s]

../cache/train10_t_store15_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:37<00:00,  2.49it/s]
100%|██████████| 242/242 [01:36<00:00,  2.51it/s]
100%|██████████| 242/242 [01:36<00:00,  2.52it/s]

../cache/train10_t_store16_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:53<00:00,  2.12it/s]
100%|██████████| 242/242 [01:53<00:00,  2.13it/s]
100%|██████████| 242/242 [01:53<00:00,  2.13it/s]

../cache/train10_t_store17_cw_pw_nw_hols.csv

100%|██████████| 227/227 [01:48<00:00,  2.09it/s]
100%|██████████| 227/227 [01:48<00:00,  2.10it/s]
100%|██████████| 227/227 [01:47<00:00,  2.11it/s]

../cache/train10_t_store18_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:39<00:00,  2.43it/s]
100%|██████████| 242/242 [01:38<00:00,  2.45it/s]
100%|██████████| 242/242 [01:38<00:00,  2.45it/s]

../cache/train10_t_store19_cw_pw_nw_hols.csv

100%|██████████| 132/132 [00:48<00:00,  2.73it/s]
100%|██████████| 132/132 [00:47<00:00,  2.76it/s]
100%|██████████| 132/132 [00:47<00:00,  2.76it/s]

../cache/train10_t_store20_cw_pw_nw_hols.csv

100%|██████████| 109/109 [00:33<00:00,  3.28it/s]
100%|██████████| 109/109 [00:33<00:00,  3.30it/s]
100%|██████████| 109/109 [00:32<00:00,  3.34it/s]

../cache/train10_t_store21_cw_pw_nw_hols.csv

100%|██████████| 98/98 [00:19<00:00,  4.90it/s]
100%|██████████| 98/98 [00:19<00:00,  4.91it/s]
100%|██████████| 98/98 [00:20<00:00,  4.88it/s]

../cache/train10_t_store22_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:04<00:00,  1.94it/s]
100%|██████████| 242/242 [02:03<00:00,  1.96it/s]
100%|██████████| 242/242 [02:03<00:00,  1.96it/s]

../cache/train10_t_store23_cw_pw_nw_hols.csv

100%|██████████| 228/228 [02:17<00:00,  1.66it/s]
100%|██████████| 228/228 [02:16<00:00,  1.67it/s]
100%|██████████| 228/228 [02:16<00:00,  1.68it/s]

../cache/train10_t_store24_cw_pw_nw_hols.csv

100%|██████████| 233/233 [01:45<00:00,  2.22it/s]
100%|██████████| 233/233 [01:44<00:00,  2.24it/s]
100%|██████████| 233/233 [01:43<00:00,  2.25it/s]

../cache/train10_t_store25_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:34<00:00,  2.56it/s]
100%|██████████| 242/242 [01:33<00:00,  2.58it/s]
100%|██████████| 242/242 [01:33<00:00,  2.58it/s]

../cache/train10_t_store26_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:19<00:00,  1.74it/s]
100%|██████████| 242/242 [02:18<00:00,  1.75it/s]
100%|██████████| 242/242 [02:17<00:00,  1.76it/s]

../cache/train10_t_store27_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:07<00:00,  1.90it/s]
100%|██████████| 242/242 [02:06<00:00,  1.92it/s]
100%|██████████| 242/242 [02:07<00:00,  1.90it/s]

../cache/train10_t_store28_cw_pw_nw_hols.csv

100%|██████████| 127/127 [00:42<00:00,  3.02it/s]
100%|██████████| 127/127 [00:42<00:00,  3.02it/s]
100%|██████████| 127/127 [00:41<00:00,  3.05it/s]

../cache/train10_t_store29_cw_pw_nw_hols.csv

100%|██████████| 239/239 [01:23<00:00,  2.87it/s]
100%|██████████| 239/239 [01:22<00:00,  2.89it/s]
100%|██████████| 239/239 [01:22<00:00,  2.88it/s]

../cache/train10_t_store30_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:04<00:00,  1.94it/s]
100%|██████████| 242/242 [02:03<00:00,  1.95it/s]
100%|██████████| 242/242 [02:03<00:00,  1.95it/s]

../cache/train10_t_store31_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:12<00:00,  3.36it/s]
100%|██████████| 242/242 [01:11<00:00,  3.39it/s]
100%|██████████| 242/242 [01:12<00:00,  3.36it/s]

../cache/train10_t_store32_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:44<00:00,  2.33it/s]
100%|██████████| 242/242 [01:42<00:00,  2.36it/s]
100%|██████████| 242/242 [01:42<00:00,  2.36it/s]

../cache/train10_t_store33_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:00<00:00,  2.00it/s]
100%|██████████| 242/242 [02:00<00:00,  2.01it/s]
100%|██████████| 242/242 [02:00<00:00,  2.00it/s]

../cache/train10_t_store34_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:13<00:00,  3.28it/s]
100%|██████████| 242/242 [01:12<00:00,  3.32it/s]
100%|██████████| 242/242 [01:13<00:00,  3.31it/s]

../cache/train10_t_store35_cw_pw_nw_hols.csv

100%|██████████| 224/224 [01:47<00:00,  2.08it/s]
100%|██████████| 224/224 [01:47<00:00,  2.09it/s]
100%|██████████| 224/224 [01:47<00:00,  2.09it/s]

../cache/train10_t_store36_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:28<00:00,  1.63it/s]
100%|██████████| 242/242 [02:27<00:00,  1.64it/s]
100%|██████████| 242/242 [02:27<00:00,  1.64it/s]

../cache/train10_t_store37_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:23<00:00,  1.69it/s]
100%|██████████| 242/242 [02:22<00:00,  1.69it/s]
100%|██████████| 242/242 [02:22<00:00,  1.70it/s]

../cache/train10_t_store38_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:19<00:00,  1.73it/s]
100%|██████████| 242/242 [02:19<00:00,  1.74it/s]
100%|██████████| 242/242 [02:18<00:00,  1.75it/s]

../cache/train10_t_store39_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:50<00:00,  2.18it/s]
100%|██████████| 242/242 [01:50<00:00,  2.19it/s]
100%|██████████| 242/242 [01:50<00:00,  2.19it/s]

../cache/train10_t_store40_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:12<00:00,  1.83it/s]
100%|██████████| 242/242 [02:11<00:00,  1.84it/s]
100%|██████████| 242/242 [02:11<00:00,  1.84it/s]

../cache/train10_t_store41_cw_pw_nw_hols.csv

100%|██████████| 105/105 [00:33<00:00,  3.09it/s]
100%|██████████| 105/105 [00:33<00:00,  3.15it/s]
100%|██████████| 105/105 [00:33<00:00,  3.11it/s]

../cache/train10_t_store42_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:42<00:00,  2.35it/s]
100%|██████████| 242/242 [01:42<00:00,  2.36it/s]
100%|██████████| 242/242 [01:42<00:00,  2.36it/s]

../cache/train10_t_store43_cw_pw_nw_hols.csv

100%|██████████| 242/242 [03:04<00:00,  1.31it/s]
100%|██████████| 242/242 [03:02<00:00,  1.32it/s]
100%|██████████| 242/242 [03:02<00:00,  1.32it/s]

../cache/train10_t_store44_cw_pw_nw_hols.csv

100%|██████████| 242/242 [03:03<00:00,  1.32it/s]
100%|██████████| 242/242 [03:01<00:00,  1.33it/s]
100%|██████████| 242/242 [03:02<00:00,  1.33it/s]

../cache/train10_t_store45_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:55<00:00,  1.38it/s]
100%|██████████| 242/242 [02:54<00:00,  1.39it/s]
100%|██████████| 242/242 [02:55<00:00,  1.38it/s]

../cache/train10_t_store46_cw_pw_nw_hols.csv

100%|██████████| 242/242 [03:00<00:00,  1.34it/s]
100%|██████████| 242/242 [03:01<00:00,  1.34it/s]
100%|██████████| 242/242 [03:00<00:00,  1.34it/s]

../cache/train10_t_store47_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:50<00:00,  1.42it/s]
100%|██████████| 242/242 [02:48<00:00,  1.43it/s]
100%|██████████| 242/242 [02:49<00:00,  1.43it/s]

../cache/train10_t_store48_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:55<00:00,  1.38it/s]
100%|██████████| 242/242 [02:55<00:00,  1.38it/s]
100%|██████████| 242/242 [02:55<00:00,  1.38it/s]

../cache/train10_t_store49_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:47<00:00,  1.44it/s]
100%|██████████| 242/242 [02:46<00:00,  1.45it/s]
100%|██████████| 242/242 [02:46<00:00,  1.45it/s]

../cache/train10_t_store50_cw_pw_nw_hols.csv

100%|██████████| 242/242 [02:35<00:00,  1.55it/s]
100%|██████████| 242/242 [02:35<00:00,  1.56it/s]
100%|██████████| 242/242 [02:34<00:00,  1.57it/s]

../cache/train10_t_store51_cw_pw_nw_hols.csv

100%|██████████| 18/18 [00:01<00:00, 13.91it/s]
100%|██████████| 18/18 [00:01<00:00, 14.86it/s]
100%|██████████| 18/18 [00:01<00:00, 14.89it/s]

../cache/train10_t_store52_cw_pw_nw_hols.csv

100%|██████████| 169/169 [01:11<00:00,  2.35it/s]
100%|██████████| 169/169 [01:11<00:00,  2.38it/s]
100%|██████████| 169/169 [01:11<00:00,  2.36it/s]

../cache/train10_t_store53_cw_pw_nw_hols.csv

100%|██████████| 242/242 [01:27<00:00,  2.76it/s]
100%|██████████| 242/242 [01:27<00:00,  2.77it/s]
100%|██████████| 242/242 [01:26<00:00,  2.79it/s]

../cache/train10_t_store54_cw_pw_nw_hols.csv